.section {
  width: 100%;
  background-color: #212121;
  color: #fff;
  padding-top: 40px;
  padding-right: 80px;
  padding-bottom: 40px;
  padding-left: 80px;
  min-height: 50vh;
}

.section__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.grid-daftarsaya {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-bottom: 8rem;
  /* Padding to prevent drop-down clipping */
}

/* Override the Carousel card styles so it fits the CSS grid */
.grid-daftarsaya .card.top-rating {
  flex: none;
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.grid-daftarsaya .card__top-rating-img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

@media (min-width: 576px) {
  .grid-daftarsaya {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .section__title {
    font-size: 2rem;
  }

  .grid-daftarsaya {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .grid-daftarsaya {
    grid-template-columns: repeat(5, 1fr);
  }
}